<ul class="small-block-grid-2 large-block-grid-3">
  <% @entries.each do |entry| %>
    <li class="">
      <a href="<%= entry.blog_url %>">
        <div class="entry-container">
          <img src="<%= entry.image_url -%>" class="entry">
          <span>
            <%= entry.description %>
            <% entry.categories.each do |c| %>
              <%= c.name %>
            <% end %>
          </span>
        </div>
      </a>
    </li>
  <% end %>
</ul>