<ul id="filter">  
    <li class="current"><a href="#">All</a></li>  
    <% @categories.each do |category| %>
      <li><a href="#"><%= category.name %></a></li>
    <% end %> 
</ul>  

<div id="portfolio" class="row">
  <% @entries.each do |entry| %>
    <div class="large-4 small-6 entry-container <% entry.categories.each do |c| %><%= c.name.downcase.gsub(' ', '-')+' ' %><% end %>"><img src="<%= entry.image_url %>"></div>
  <% end %>
</div>