<div class="large-12 columns">
  <hr>
  <div class="row">
    <div class="large-5 columns">
      <p>Lost Tie LLC Call Jason: 361-288-4278</p>
    </div>
    <div class="large-7 columns">
      <ul class="inline-list right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Services", root_path(:anchor => "services") %>
        <li><%= link_to "Portolio", portfolio_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>
    </div>
  </div>
</div>